
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>Добавление новой записи</h3>
        <form method="post" action="/Lab4/Dict/AddSave/">
            <input type="hidden" value="0" name="Id" />
            <label>Фамилия: </label> <input type="text" name="LastName" />
            <label>Номер телефона: </label> <input type="text" name="PhoneNumber" />
            <input type="submit" value="Добавить" />
        </form>
    </div>
</body>
</html>
