
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div> 
        <h3>Удаление записи</h3>
        <p>Удалить запись?</p>
        <form method="post" action="/Dict/DeleteSave/">
            <input type="hidden" value="@ViewBag.Id" name="Id" />
            <a href="/Dict/Index/">Нет</a>
            <input type="submit" value="Да" />
        </form>
    </div>
</body>
</html>
